<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
</head>
<body class="home_page">
  <div class="page_header">
    <h1>Welcome to Beach Dog Bakery</h1>
  </div>

  <h2>The Gallery</h2>
  <div class="gallery">
    <div class="polaroid">
      <%= image_tag "Cupcakes.jpg", :class => "polaroid_pict"%>
      <div class="container">
        <p> Summer Cupcakes </p>
      </div>
    </div>

    <div class="polaroid">
      <%= image_tag "IMG_0008.jpg", :class => "polaroid_pict"%>
      <div class="container">
        <p> All Natural & Organic </p>
      </div>
    </div>

    <div class="polaroid">
      <%= image_tag "IMG_0006.jpg", :class => "polaroid_pict"%>
      <div class="container">
        <p> Chocolate Lovers Dream </p>
      </div>
    </div>

    <div class="polaroid">
      <%= image_tag "IMG_0033.jpg", :class => "polaroid_pict"%>
      <div class="container">
        <p> Winter Party Pastries </p>
      </div>
    </div>

    <div class="polaroid">
      <%= image_tag "IMG_0037.jpg", :class => "polaroid_pict"%>
      <div class="container">
        <p> Festive Favorites </p>
      </div>
    </div>

    <div class="polaroid">
      <%= image_tag "IMG_0002.jpg", :class => "polaroid_pict"%>
      <div class="container">
        <p> Pistachio & Coconut </p>
      </div>
    </div>

    <div class="polaroid">
      <%= image_tag "IMG_0051.jpg", :class => "polaroid_pict"%>
      <div class="container">
        <p> Tarts </p>
      </div>
    </div>

    <div class="polaroid">
      <%= image_tag "IMG_0013.jpg", :class => "polaroid_pict"%>
      <div class="container">
        <p> Cinnamon Buns </p>
      </div>
    </div>

    <div class="polaroid">
      <%= image_tag "IMG_0040.jpg", :class => "polaroid_pict"%>
      <div class="container">
        <p> Birthday Magic </p>
      </div>
    </div>

    <div class="polaroid">
      <%= image_tag "IMG_0047.jpg", :class => "polaroid_pict"%>
      <div class="container">
        <p> Tiny Tot Cakes </p>
      </div>
    </div>

    <div class="polaroid">
      <%= image_tag "IMG_0030.jpg", :class => "polaroid_pict"%>
      <div class="container">
        <p> A Cake for Every Age </p>
      </div>
    </div>

  <div class="polaroid">
      <%= image_tag "jCake.jpg", :class => "polaroid_pict"%>
      <div class="container">
        <p> Over the Hill, into the Cake! </p>
      </div>
    </div>
  </div>

  <br>

  <h2>About the Baker</h2>
  <div class="about">
    <%= image_tag "the_baker.jpg", :class => "baker_pict"%>
    <div class="bio"
    <p>
      <ul>
        <h4> Nicole Glass, Founder & Baker </h4>
        <li>Some stuff</li>
        <li>Some stuff</li>
        <li>Some stuff</li>
        <li>Some stuff</li>
       </ul>
    </p>
  </div>
  </div>

</body>
</html>
