<h1>Welcome to Beach Dog Bakery</h1>

<div class="slideshow-container">
  <div class="mySlides fade">
    <div class="numbertext">1 / 11</div>
    <%= image_tag "Cupcakes.jpg" %>
    <div class="text">Cupcakes</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">2 / 11</div>
    <%= image_tag "IMG_0008" %>
    <div class="text">Festive</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">3 / 11</div>
    <%= image_tag "IMG_0009.jpg" %>
    <div class="text">Holidays</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">4 / 11</div>
    <%= image_tag "IMG_0021.jpg" %>
    <div class="text">Cupcakes</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">5 / 11</div>
    <%= image_tag "IMG_0033.jpg" %>
    <div class="text">Festive Cupcakes</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">6 / 10</div>
    <%= image_tag "IMG_0037.jpg" %>
    <div class="text">Mixed Treats</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">7 / 10</div>
    <%= image_tag "IMG_0040.jpg" %>
    <div class="text">Birthdays</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">8 / 10</div>
    <%= image_tag "IMG_0047.jpg" %>
    <div class="text">Baby Birthdays</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">9 / 10</div>
    <%= image_tag "IMG_0049.jpg" %>
    <div class="text">Baby Birthdays</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">10 / 10</div>
    <%= image_tag "IMG_0051.jpg" %>
    <div class="text">Special Deserts</div>
  </div>

  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>

<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
  <span class="dot" onclick="currentSlide(4)"></span>
  <span class="dot" onclick="currentSlide(5)"></span>
  <span class="dot" onclick="currentSlide(6)"></span>
  <span class="dot" onclick="currentSlide(7)"></span>
  <span class="dot" onclick="currentSlide(8)"></span>
  <span class="dot" onclick="currentSlide(9)"></span>
  <span class="dot" onclick="currentSlide(10)"></span>
</div>
