<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
</head>
<body class="home_page">
  <div class="page_header">
    <h1>Welcome to Beach Dog Bakery</h1>
  </div>

  <h2>The Gallery</h2>
  <div class="gallery">
    <div class="polaroid">
      <%= image_tag "Cupcakes.jpg", :class => "polaroid_pict"%>
      <div class="container">
        <p> Summer Cupcakes </p>
      </div>
    </div>

    <div class="polaroid">
      <%= image_tag "IMG_0008.jpg", :class => "polaroid_pict"%>
      <div class="container">
        <p> All Natural & Organic </p>
      </div>
    </div>

    <div class="polaroid">
      <%= image_tag "IMG_0033.jpg", :class => "polaroid_pict"%>
      <div class="container">
        <p> Winter Party Pastries </p>
      </div>
    </div>

    <div class="polaroid">
      <%= image_tag "IMG_0037.jpg", :class => "polaroid_pict"%>
      <div class="container">
        <p> Festive Favorites </p>
      </div>
    </div>

    <div class="polaroid">
      <%= image_tag "IMG_0040.jpg", :class => "polaroid_pict"%>
      <div class="container">
        <p> Birthday Magic </p>
      </div>
    </div>

    <div class="polaroid">
      <%= image_tag "IMG_0047.jpg", :class => "polaroid_pict"%>
      <div class="container">
        <p> Tiny Tot Cakes </p>
      </div>
    </div>

    <div class="polaroid">
      <%= image_tag "IMG_0049.jpg", :class => "polaroid_pict"%>
      <div class="container">
        <p> A Cake for Every Age </p>
      </div>
    </div>

    <div class="polaroid">
      <%= image_tag "IMG_0051.jpg", :class => "polaroid_pict"%>
      <div class="container">
        <p> French Pastries & More! </p>
      </div>
    </div>

  </div>

</body>
</html>
