<h1>Edit Your Cake Request</h1>

<%= form_with scope: :cakerequest, url: cakerequests_path, local: true do |form| %>

  <% if @cakerequest.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@cakerequest.errors.count, "error") %> prohibited
        this cakerequest from being saved:
      </h2>
      <ul>
        <% @cakerequest.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

     <p>
      <%= form.label :pastry_type %>
      <%= form.select :pastry_type, ['Cake', 'Cupcakes', 'Tart', 'Something else']%>
    </p>
    <p>
      <%= form.label :cake_details %>
      <%= form.text_area :cake_details, placeholder: 'Pastry Details!' %>
    </p>

    <p>
      <%= form.label :event_type %>
      <%= form.select :event_type, ['Graduation', 'Birthday', 'Anniversery', 'I love cake!']%>
    </p>
    <p>
      <%= form.label :event_date %>
      <%= form.date_select :event_date  %>
    </p>
    <p>
      <%= form.label :Pinspiration_url %>
      <%= form.text_area :pin_url, placeholder: 'Drop us some Pin-spiration!'  %>
    </p>
    <p>
      <%= form.submit %>
    </p>

<% end %>

<%= link_to 'Back', cakerequest_path %>
