<!DOCTYPE html>
<html>
<head>
  <title>Request Made!</title>
</head>
  <body class="request_page">

  <h2> Thank you for requesting a special baked good from Beach Dog Bakery! </h2>

  <div class='background_box'>
    <p> A confirmation email has been sent to <%= current_user.email %> and to our beautiful baker on the beach.
      <br>
    You will receive a response as to whether your request has been approved within 48 hours. </p>
  </div>
  <br>
  <div class='background_box'>
    <h4>Please review your order request:</h4>
    <ul>
      <p>Pastry Type: <%= @cakerequest.pastry_type %></p>
      <p>Cake Details: <%= @cakerequest.cake_details %>
      <p>Event Type: <%= @cakerequest.event_type %></p>
      <p>Event Date: <%= @cakerequest.event_date %></p>
      <!-- THIS DOESNT WORK!! -->
      <p>'Pin-spiration': <a href="<%=@cakerequest.pin_url%>"
     data-pin-do="embedPin"></a></p>
    </ul>
  </div>
  <br>
  <div class="background_box">
    <p> Ooops! Not what you wanted?
      <br>
      Edit your request!
      <br>
      <%= link_to 'Edit', edit_cakerequest_path %>
    </p>

  </div>
  </body>
</html>
