<!DOCTYPE html>
<html>
  <head>
    <title>Beach Dog Bakery</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <script
    type="text/javascript"
    async defer
      src="//assets.pinterest.com/js/pinit.js">
  </script>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <header class="app_header">
      <%= image_tag "BeachDogLogoDark.png", :class => "logo" %>

      <div class="nav">
        <div class="nav_item" > <%= link_to "Home", root_path %> </div>
        <% if user_signed_in? %>
          <div class="nav_item"> <%= link_to "Make a Request!", new_cakerequest_path %> </div>
          <div class="nav_item"> <%= link_to "Logout", destroy_user_session_path, {method: :delete} %> </div>
        <% else %>
          <div class="nav_item"> <%= link_to "Register", new_user_registration_path %> </div>
          <div class= nav_item> <%= link_to "Login", user_session_path %> </div>
        <% end %>
      </div>

    </header>
    <%= yield %>
  </body>
</html>
